body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#users-list {
  float: left;
  width: 100px;
  border-right: 1px solid black;
  height: 300px;
  padding: 10px;
  overflow: scroll-y;
}

div#chat {
  float: left;
  width: 300px;
  height: 250px;
  overflow: scroll-y;
  padding: 10px;
}

input#data {
  width: 200px;
}